body{
    margin: 0;
}

main {
    display: grid;
    grid-template-areas:
        ". sidebar content content . ";
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.article-list {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.article-list .article-card {
    border: 1px solid var(--black);
    padding: 1rem;
}