// Colors
:root {
  --white: #fff;
  --black: #252525;
  --primary: #007bff; // Electric Blue
  --secondary: #6c757d; // Cool Gray
  --tertiary: #17a2b8; // Soft Cyan
  --accent-yellow: #ffc107; // Bright Yellow
  --accent-purple: #6f42c1; // Muted Purple

  // Spacing
  --gutter: 5%;
}

// Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
