// Colors
:root {
  --white: #fff;
  --black: #252525;
  --primary: #007BFF; // Electric Blue
  --secondary: #6C757D; // Cool Gray
  --tertiary: #17A2B8; // Soft Cyan
  --accent-yellow: #FFC107; // Bright Yellow
  --accent-purple: #6F42C1; // Muted Purple
}

// Breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;